.card {
  display: table;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  overflow: hidden;
}

.row {
  display: table-row;
}

.key,
.value {
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid #d6d6d6;
  overflow-x: auto;
}

.key {
  width: 200px;
  font-weight: bold;
  background: #0080a9;
  color: #fff;
  text-align: right;
}

@media (max-width: 840px) {
  .card,
  .row,
  .key,
  .value {
    width: auto;
    display: block;
    text-align: center;
  }
}
