.wrapper {
  overflow-x: auto;
}

.table {
  min-width: fit-content;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  white-space: nowrap;
}

.row,
.head {
  display: flex;
  border-bottom: 1px solid #d6d6d6;
}

.head {
  font-weight: bold;
}

.cell {
  flex: 1;
  padding: 10px;
  & > span {
    display: inline-block;
  }
}
