body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#root > main {
  flex: 1;
}
