body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: #0080a9;
  outline: none;
  border: none;
}
a:hover {
  color: #004070;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  & > main {
    flex: 1;
  }
}
