.icon {
  display: inline-block;
  padding-left: 1.2em;
  background-position: left center;
  background-repeat: no-repeat;

  &.block {
    background-image: svg-load("block.svg", fill= "#000");
    a & {
      background-image: svg-load("block.svg", fill= "#0080a9");
    }
    a:hover & {
      background-image: svg-load("block.svg", fill= "#004070");
    }
  }
  &.tx {
    background-image: svg-load("tx.svg", fill= "#000");
    a & {
      background-image: svg-load("tx.svg", fill= "#0080a9");
    }
    a:hover & {
      background-image: svg-load("tx.svg", fill= "#004070");
    }
  }
  &.name {
    background-image: svg-load("name.svg", fill= "#000");
    a & {
      background-image: svg-load("name.svg", fill= "#0080a9");
    }
    a:hover & {
      background-image: svg-load("name.svg", fill= "#004070");
    }
  }
}
