.separator {
  display: flex;
  align-items: center;
  &::before,
  &::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #d6d6d6;
  }
  &::before {
    margin-right: 10px;
  }
  &::after {
    margin-left: 10px;
  }
}

.table {
  display: table;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  overflow: hidden;
  & > div:first-child {
    font-weight: bold;
  }
  & > div {
    width: 100%;
    display: table-row;
    & > div {
      display: table-cell;
      border-bottom: 1px solid #d6d6d6;
      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
      }
      & > * {
        display: inline-block;
        padding: 10px 0;
      }
    }
  }
}

.card {
  display: table;
  width: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 10px;
  overflow: hidden;
  & > div {
    width: 100%;
    display: table-row;
    & > span {
      padding: 10px;
      display: table-cell;
      border-bottom: 1px solid #d6d6d6;
      &:first-child {
        font-weight: bold;
        background: #0080a9;
        color: #fff;
        text-align: right;
      }
    }
    @media (max-width: 840px) {
      display: block;
      & > span {
        display: block;
        text-align: center !important;
      }
    }
  }
}
