.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
}

.header {
  background: #f3f3f3;
  border-bottom: 1px solid #d6d6d6;
  & .wrapper {
    display: flex;
    align-items: center;
  }
  & a {
    color: #000;
    display: block;
    height: 80px;
    line-height: 80px;
  }
}

.home {
  & span {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 20px;
    white-space: pre-line;
  }
  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    background: svg-load("logo.svg") no-repeat center center;
  }
}

.menu {
  flex: 1;
  & ul {
    display: flex;
    & > li {
      margin-left: 30px;
      & > a {
        margin-left: 30px;
        font-size: 16px;
        color: #666666;
      }
    }
  }
}

.search {
  max-width: 300px;
  input {
    border: 1px solid #d6d6d6;
    background: #fff;
  }
  button {
    border: 1px solid #d6d6d6;
    background: #fff;
  }
}

.main {
  display: flex;
  & .wrapper {
    flex: 1;
    flex-direction: column;
    & > * {
      margin: 20px 0;
    }
  }
}

.footer {
  background: #f3f3f3;
  border-top: 1px solid #d6d6d6;
  padding: 5px 0;
  font-size: 14px;
}

.copyright::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background: svg-load("logo.svg") no-repeat center center;
}
