@import "./components/**/*.css";

html,
body {
}
a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
h1 {
  display: block;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
h1::before,
h1::after {
  content: "";
  display: inline-block;
  background: #eaeaea;
  width: 50%;
  height: 2px;
  vertical-align: middle;
}
h1::before {
  margin: 0 60px 0 -55%;
}
h1::after {
  margin: 0 -55% 0 60px;
}
