.header {
  background: #4ca6c3;
  color: #fff;
}

.block {
  flex: 1;
  text-align: center;
}
.block::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background: svg-load("../../icons/block.svg", fill= "#fff") no-repeat center
    center;
  margin: -3px 5px 0 0;
}

.prev,
.next {
  color: #4ca6c3;
  margin: 0 10px;
}
.prev::before,
.next::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-top: -3px;
  background: svg-load("../../icons/block.svg", fill= "#4ca6c3") no-repeat
    center center;
}
.prev::before {
  margin-right: 3px;
}
.next::after {
  margin-left: 3px;
}
